* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {

    list-style: none;
    display: inline-block
}


h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
    color: #777;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*NAVIGATION*/





/*SERVICES*/

.services {
    
    padding: 80px 0 80px;
    text-align: center;
}

.services h2,
.services h4 {
    
    color: #4c4c4c;
    margin: 20px 0 20px;
}


.services p {
    
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}


.services i {
    
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}


@media(max-width:768px) {
    
    .services {
        
        padding: 30px;
    }
}


/*PRICING*/

.pricing {
    
    padding: 50px 0 80px;
    text-align: center;
    background-color: #3399ff;
}

.pricing h2,
.pricing p {
    
    color: #fff;
}

.pricing p {
    
    padding-bottom: 40px;
}

.pricing .packages {
    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.packages li {
    
    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,
.packages b {
    
    color: #4c4c4c;
}

.packages p,
.packages li {
    
    color: #737373;
}

.packages button {
    
    margin-top: 10px;
}



@media(max-width:768px) {
    
    .pricing {
        
        padding: 30px;
    }
    
    .packages {
        
        width: 80%;
        margin-left: 25px;
    }
}


/*TEAM*/

.team {
    
    padding: 50px 0 80px;
    text-align: center;
}

.team b,
.team h2,
.team h4 {
    
    margin: 20px 0 20px;
    color: #4c4c4c;
}


.team p {
    
    color: #737373;
}

.team img {
    
    height: 150px;
    width: 150px;
    margin-top: 80px;
}


.team i {
    
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a0db8e;
    color: #fff;
}

.team a:hover i {
    
    background-color: #709963;
}


/*CLINTS*/

.clients {
    
    padding: 50px 0 80px;
    background-color: #3399ff;
    text-align: center;
    color: #fff;
}

.client h2 {
    
    color: #5e5e5e;
}

.clients p {
    
    padding-bottom: 40px;
}

.clients img {
    
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
}


.clients li:hover img {
    
    opacity: 1;
}


/*CONTACT*/

.contact {
    
    padding: 50px 0 80px;
    text-align: center;
}

.contact p {
    
    padding-bottom: 80px;
    color: #737373;
}

.contact h2 {
    
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.contact .input-group {
    
    margin-bottom: 25px;
}

.contact .form-control {
    
    border-radius: 0 !important;
}

.contact span {
    
    border-radius: 0 !important;
}

.contact .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
}

.contact .btn:hover {
    
    background-color: #a85959 !important;
    color: #fff !important;
}

/* LOGIN - REGISTER */

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #004151d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}
.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 35px;
    border: 1px solid #ddd;
    font-size: 14px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}


/*FOOTER*/

.footer {
  background: #F5F5F5;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}

.footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}

.footer a {
  color: #595959;
}

.footer .footer-manu {
  padding-bottom: 25px;
}

.footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}

.footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
}

.footer .footer-manu ul li a {
  display: inline-block;
  color: #494949;
}

.footer .footer-manu ul li a:hover {
  color: #000;
}

.footer .copyright a {
  font-weight: 600;
}
